@import "colors";
@import "fonts";

$blc-top-band-height: 80px;
$blc-what-pane-padding: 60px;

h1 {
  font-size: 30px;
  color: $blc-main-text-color;
  margin-bottom: 50px;
}

h2 {
  font-size: 23px;
  color: $blc-main-text-color;
  margin-bottom: 40px;
}

p {
  font-family: 'RobotoThin';
  font-size: 18px;
  font-weight: normal;
  color: $blc-main-text-color;
}

.blc-page {
  padding-top: 200px;
  padding-bottom: 200px;
}

.blc-dark-page {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $blc-background-color;
}

.blc-block {
  margin-bottom: 100px;
}

@mixin button-link($color) {
  color: $color;
  text-decoration: none;
}

@mixin button-links($color) {
  &:hover {
    @include button-link($color);
  }

  &:active {
    @include button-link($color);
  }

  &:visited {
    @include button-link($color);
  }

  &:focus {
    @include button-link($color);
  }
}

@mixin button-template($textcolor, $color, $width, $height, $fontsize, $margin, $hovcolor, $hovbkcolor, $hovbdcolor) {
  @include button-links($textcolor);

  float: left;
  margin: $margin;
  width: $width;
  height: $height;
  color: $textcolor;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: $color;
  background-color: $color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'RobotoThin';
  font-size: $fontsize;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: $hovbkcolor;
    color: $hovcolor;
    border-color: $hovbdcolor;
  }
}

.blc-button {
  @include button-template(white, $blc-main-color, 250px, 63px, 20px, 10px, $blc-main-color, white, $blc-main-color);
}

.blc-button-2 {
  @include button-template($blc-main-color, white, 250px, 63px, 20px, 10px, white, $blc-main-color, white);

  border-style: solid;
  border-width: 1px;
  border-color: $blc-main-color;
}

.blc-button-mid {
  @include button-template(white, $blc-main-color, 200px, 50px, 16px, 0, $blc-main-color, white, $blc-main-color);

  margin-top: 50px;
}

.blc-button-mid-2 {
  @include button-template($blc-main-color, white, 200px, 50px, 16px, 0, white, $blc-main-color, $blc-main-color);

  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: $blc-main-color;
}

.blc-button-support {
  @include button-template($blc-main-color, white, 200px, 50px, 16px, 0, white, $blc-main-color, white);

  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: $blc-main-color;
}

.blc-top-band {
  display: flex;
  align-items: center;
  color: $blc-main-text-color;
  background-color: $blc-background-color;
  height: $blc-top-band-height;
  border-bottom-style: solid;
  border-bottom-color: $blc-light-green;
  border-bottom-width: 1px;
}

.blc-top-logo {
  img {
    margin: 18px;
    height: 40px;
  }
}

@mixin link-styles($disp, $flo, $pads) {
  a {
    font-size: 14px;
    display: $disp;
    float: $flo;
    margin: $pads;
    padding: 5px 10px 5px 10px;
    transition: border 0.3s;

    span {
      transition: color 0.3s;
    }

    &:link {
      color: $blc-main-text-color;
      text-decoration: none;
    }

    &:visited {
      color: $blc-main-text-color;
      text-decoration: none;
    }

    &:hover {
      color: black;
      text-decoration: none;

      span {
        color: $blc-main-color;
      }
    }

    &:focus {
      color: black;
      text-decoration: none;
    }
  }
}

.blc-menu-group {
  height: $blc-top-band-height;
  align-items: center;
  float: none;
  display: flex;

  span {
    color: $blc-background-color;
  }

  @include link-styles(block, left, 9px 20px 9px 20px);
}

.blc-lang-pane {
  display: block;
  margin: 5px;

  button {
    background-color: $blc-background-color;
  }
}

.blc-landing-title {
  font-family: 'RobotoThin';
  font-size: 50px;
  color: $blc-main-text-color;
}

.blc-landing-title-coin {
  font-family: 'Shrikhand';
  font-size: 50px;
  color: $blc-main-color;
}

.blc-landing-desc {
  font-size: 30px;
  font-weight: lighter;
  color: $blc-main-text-color;
}

.blc-landing-pane {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blc-landing-social-pane {
  margin-top: 50px;
  margin-bottom: 50px;

  img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.blc-what-icon {
  height: 35px;
  margin-right: 20px;
}

.blc-what-pane {
  h2 {
    display: block;
    padding-right: $blc-what-pane-padding;
  }

  p {
    display: block;
    padding-right: $blc-what-pane-padding;
  }
}

.blc-history {
  margin-left: 100px;
  width: 550px;
}

.blc-basics-network {
  width: 550px;
}

.blc-basics-params {
  margin-top: 80px;
}

.blc-basics-param-row {
  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-size: 20px;
  }

  img {
    height: 23px;
  }

  p {
    text-align: right;
    padding-right: 20px;
    background-color: $blc-background-color;
  }
}

.blc-mining-step-row {
  img {
    padding-right: 110px;
    height: 100px;
    margin-bottom: 50px;
  }
}

.blc-mining-step-col {
  padding-right: 110px;
}

.blc-download-req-row {
  p {
    font-size: 16px;
  }

  img {
    height: 30px;
    margin-right: 20px;
  }
}

.blc-milestone-graph-col {
  img {
    width: 75%;
  }
}

.blc-team-col {
  img {
    width: 100px;
  }

  h2 {
    font-size: 22px;
  }
}

.blc-team-head {
  margin-left: 50px;
  color: $blc-light-text-color;
}

.blc-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $blc-main-color;

  p {
    color: $blc-dark-text-color;
  }

  .blc-social-icon-footer {
    width: 28px;
    height: 28px;
    margin: 5px;
  }

  .blc-footer-logo {
    margin-top: 10px;
    width: 160px;
  }

  .blc-copy-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    @include link-styles(block, clear, 0 0 0 0);

    padding: 0;
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
  }
}

.blc-subtitle {
  color: $blc-light-text-color;
}

.blc-wechat-group {
  img {
    width: 100px;
    height: 100px;
  }
}

.blc-support {
  height: 340px;
  background-color: $blc-main-color;
}

.blc-nannan {
  height: 340px;
}

.blc-support-text {
  margin: 20px 0 20px 0;

  h1 {
    color: white;
  }

  p {
    color: white;
  }
}
