@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoThin";
  src: url("fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand-Regular.ttf");
}
h1 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 50px;
}

h2 {
  font-size: 23px;
  color: #333333;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  font-weight: normal;
  color: #333333;
}

.blc-page {
  padding-top: 200px;
  padding-bottom: 200px;
}

.blc-dark-page {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #f7f7f7;
}

.blc-block {
  margin-bottom: 100px;
}

.blc-button {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 250px;
  height: 63px;
  vertical-align: middle;
  color: white;
  background-color: #009944;
  border-radius: 5px;
  font-size: 24px;
  font-weight: lighter;
}
.blc-button:hover {
  color: white;
  text-decoration: none;
}
.blc-button:active {
  color: white;
  text-decoration: none;
}
.blc-button:visited {
  color: white;
  text-decoration: none;
}
.blc-button:focus {
  color: white;
  text-decoration: none;
}

.blc-button-2 {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 250px;
  height: 63px;
  vertical-align: middle;
  color: #009944;
  background-color: white;
  border-radius: 5px;
  font-size: 24px;
  font-weight: lighter;
  border-style: solid;
  border-width: 1px;
  border-color: #009944;
}
.blc-button-2:hover {
  color: #009944;
  text-decoration: none;
}
.blc-button-2:active {
  color: #009944;
  text-decoration: none;
}
.blc-button-2:visited {
  color: #009944;
  text-decoration: none;
}
.blc-button-2:focus {
  color: #009944;
  text-decoration: none;
}

.blc-button-mid {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 200px;
  height: 50px;
  vertical-align: middle;
  color: white;
  background-color: #009944;
  border-radius: 5px;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 50px;
}
.blc-button-mid:hover {
  color: white;
  text-decoration: none;
}
.blc-button-mid:active {
  color: white;
  text-decoration: none;
}
.blc-button-mid:visited {
  color: white;
  text-decoration: none;
}
.blc-button-mid:focus {
  color: white;
  text-decoration: none;
}

.blc-button-mid-2 {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 200px;
  height: 50px;
  vertical-align: middle;
  color: #009944;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #009944;
}
.blc-button-mid-2:hover {
  color: #009944;
  text-decoration: none;
}
.blc-button-mid-2:active {
  color: #009944;
  text-decoration: none;
}
.blc-button-mid-2:visited {
  color: #009944;
  text-decoration: none;
}
.blc-button-mid-2:focus {
  color: #009944;
  text-decoration: none;
}

.blc-top-band {
  color: #333333;
  background-color: #f7f7f7;
  height: 80px;
  border-bottom-style: solid;
  border-bottom-color: #009944;
  border-bottom-width: 1px;
}

.blc-top-logo img {
  margin: 18px;
  height: 40px;
}

.blc-menu-group {
  height: 80px;
  vertical-align: bottom;
  float: none;
  display: table-cell;
}
.blc-menu-group a {
  display: block;
  float: left;
  padding: 9px 20px 9px 20px;
}
.blc-menu-group a:link {
  color: #333333;
  text-decoration: none;
}
.blc-menu-group a:visited {
  color: #333333;
  text-decoration: none;
}
.blc-menu-group a:hover {
  color: black;
  text-decoration: none;
}
.blc-menu-group a:focus {
  color: black;
  text-decoration: none;
}

.blc-lang-pane {
  display: block;
  margin: 5px;
}
.blc-lang-pane button {
  background-color: #f7f7f7;
}

.blc-landing-title {
  font-family: "RobotoThin";
  font-size: 50px;
  color: #333333;
}

.blc-landing-title-coin {
  font-family: "Shrikhand";
  font-size: 50px;
  color: #009944;
}

.blc-landing-desc {
  font-size: 30px;
  font-weight: lighter;
  color: #333333;
}

.blc-landing-pane {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blc-landing-social-pane {
  margin-top: 50px;
  margin-bottom: 50px;
}
.blc-landing-social-pane img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.blc-what-icon {
  height: 35px;
  margin-right: 20px;
}

.blc-what-pane h1 {
  display: block;
  padding-right: 60px;
}
.blc-what-pane p {
  display: block;
  padding-right: 60px;
}

.blc-history {
  margin-left: 100px;
  width: 550px;
}

.blc-basics-network {
  width: 550px;
}

.blc-basics-params {
  margin-top: 80px;
}

.blc-basics-param-row {
  margin-bottom: 20px;
}
.blc-basics-param-row h2 {
  margin: 0;
  font-size: 20px;
}
.blc-basics-param-row img {
  height: 23px;
}
.blc-basics-param-row p {
  text-align: right;
  padding-right: 20px;
  background-color: #f7f7f7;
}

.blc-mining-step-row img {
  padding-right: 110px;
  height: 100px;
  margin-bottom: 50px;
}

.blc-mining-step-col {
  padding-right: 110px;
}

.blc-download-req-row p {
  font-size: 16px;
}
.blc-download-req-row img {
  height: 30px;
  margin-right: 20px;
}

.blc-milestone-graph-col img {
  width: 75%;
}

.blc-team-col img {
  width: 100px;
}
.blc-team-col h2 {
  font-size: 22px;
}

.blc-team-head {
  margin-left: 50px;
  color: #999999;
}

.blc-footer {
  background-color: #eeeeee;
}
.blc-footer p {
  color: #333333;
}

.blc-wechat-group img {
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=balancecoin.css.map */
